<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CRUD_DEMO</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Favicons -->
    <link href="~/assets/img/icon.jpg" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <i class="bi bi-list toggle-sidebar-btn"></i>
            <a href="index.html" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block" style="color: #8D5524;">Coffee Shop</span>
            </a>
        </div>
        <div class="ms-auto me-4">
            <a class="btn btn-outline-danger btn-sm" asp-controller="User" asp-action="Logout">
                <i class="fa fa-sign-out-alt"></i>  Logout
            </a>
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="ProductList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">Product</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">User</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Order" asp-action="OrderList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">Order</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="OrderDetail" asp-action="OrderDetailList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">Order Detail</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Bills" asp-action="BillsList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">Bills</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Customer" asp-action="CustomerList">
                    <i class=" fa-solid fa-table text-dark"></i><span class="text-dark">Customer</span>
                </a>
            </li>

        </ul>
    </aside>
    <!-- End Sidebar-->

    <div class="">
        <main role="main" class="main" id="main">
            @RenderBody()
        </main>
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
